<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - VCPCS</title>
</head>
<body>
    <div>
        <h2>VCPCS LOGIN</h2>
        <div th:if="${error}" th:text="${error}"></div>
        <form th:action="@{/login}" method="POST">
            <div>
                <label>Username</label>
                <input type="text" name="username" required>
            </div>

            <div>
                <label>Password</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>