<div th:fragment="header" style="background: #2c3e50; color: white; height: 15vh; padding: 15px;">
    <h2>VCPCS System</h2>
    <div th:if="${session.loggedUser == null}" style="display: flex; justify-content: space-between">
        <span>You are logging in as: <strong>Guest</strong></span>
        <a th:href="@{/login}"><button>Log in</button></a>
    </div>

    <div th:unless="${session.loggedUser == null}" style="display: flex; justify-content: space-between">
        <span>Hello, <strong th:text="${session.loggedUser?.fullName}">User</strong></span>
        <a href="/logout" style="color: yellow; margin-left: 20px;">Log out</a>
    </div>
</div>