<div th:fragment="sidebar_fragment" id="sidebar" style="display: block; width: 200px; margin-right: 20px;">
    <h4>Navigation</h4>
    <ul>
        <li th:if="${session.user != null and (session.user.role == 'ORGANIZER')}">
            <a th:href="@{/organizer/projects/create}">Tạo dự án</a>
        </li>
        <li th:if="${session.user != null and (session.user.role == 'ORGANIZER')}">
            <a th:href="@{/organizer/projects}">Dự án của tôi</a>
        </li>
        <li th:if="${session.user != null and (session.user.role == 'VOLUNTEER')}">
            <a th:href="@{/attendance/submit}">Nộp minh chứng</a>
        </li>
        <li th:if="${session.user != null and (session.user.role == 'VOLUNTEER')}">
            <a th:href="@{/my-activities}">Hoạt động của tôi</a>
        </li>
        <li th:if="${session.user != null and session.user.role == 'ADMIN'}">
            <a th:href="@{/admin/projects/review}">Duyệt dự án</a>
        </li>
        <li th:if="${session.user != null and session.user.role == 'ADMIN'}">
            <a th:href="@{/admin/users}">Quản lý tài khoản</a>
        </li>
        <li th:if="${session.user != null and session.user.role == 'ADMIN'}">
            <a th:href="@{/admin/users/review}">Duyệt tài khoản</a>
        </li>
        <li th:if="${session.user != null and session.user.role == 'ADMIN'}">
            <a th:href="@{/admin/categories}">Quản lý danh mục</a>
        </li>

        <li th:if="${session.user != null and session.user.role == 'VOLUNTEER'}">
            <a th:href="@{/profile}">Trang cá nhân</a>
        </li>

        <li th:if="${session.user != null and session.user.role == 'ORGANIZER'}">
            <a th:href="@{/organizer/projects/profile}">Trang cá nhân</a>
        </li>
        <li th:if="${session.user != null and (session.user.role == 'VOLUNTEER')}">
            <a th:href="@{/saved-projects/my}">Dự án đã lưu</a>
        </li>
    </ul>
</div>
