<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main-layout :: page_layout(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Tạo dự án mới</title>
</head>
<body>
<h2>
    Tạo dự án mới
</h2>
<div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red; margin-bottom: 15px;"></div>
<form th:action="@{/organizer/projects}" th:object="${projectDTO}" method="post">
    <div>
        <label>Tên dự án</label>
        <input type="text" th:field="*{title}">
        <span th:errors="*{title}" style="color:red"></span>
    </div>
    <div>
        <label>Mô tả</label>
        <textarea th:field="*{description}"></textarea>
        <span th:errors="*{description}" style="color:red"></span>
    </div>
    <div>
        <label>Địa điểm</label>
        <input type="text" th:field="*{location}"></input>
        <span th:errors="*{location}" style="color:red"></span>
    </div>
    <div>
        <label>Hình ảnh</label>
        <input type="text" th:field="*{imageUrl}"></input>
    </div>
    <div>
        <label>Ngày bắt đầu</label>
        <input type="date" th:field="*{startDate}"></input>
        <span th:errors="*{startDate}" style="color:red"></span>
    </div>
    <div>
        <label>Ngày kết thúc</label>
        <input type="date" th:field="*{endDate}"></input>
        <span th:errors="*{endDate}" style="color:red"></span>
    </div>
    <div>
        <label>Số lượng tình nguyện viên</label>
        <input type="number" th:field="*{targetVolunteers}"></input>
        <span th:errors="*{targetVolunteers}" style="color:red"></span>
    </div>
    <div>
        <label>Loại</label>
        <select th:field="*{categoryId}">
            <option value="">-- Chọn --</option>
            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
        </select>
        <span th:errors="*{categoryId}" style="color:red"></span>
    </div>

    <button type="submit">Tạo dự án</button>
</form>
</body>
</html>
